{% extends 'index.html' %}
{% load static %}

{% block content %}
    <h1>
       Know About brand
    </h1>
    <table class="table table-hover">
        <tr>
            <h1>Apple</h1>
            <td>
                <div  >
                    <img src="{% static 'image/brand/Apple.JPG' %}" alt="">
    
                </div> 
            </td>
            <td class=" md=8 ">
                <div >
                    Steve Jobs dared to be different, he catered to creators and dreamers. Apple was created to cater to people, not consumers. Unlike most corporations, Apple makes product decisions driven by design rather than finance and marketing. He sold dreams, not products.
                    
                </div>
            </td>
           
           
        </tr>    
    </table>
    <table>
        <tr>
            <h1>Samsung</h1>
            <td>
                <div class=" md=3">
                    <img src="{% static 'image/brand/samsung.jpg' %}" alt="">
    
                </div> 
            </td>
            <td>
                <div >
                    Samsung, South Korean company that is one of the world's largest producers of electronic devices. Samsung specializes in the production of a wide variety of consumer and industry electronics, including appliances, digital media devices, semiconductors, memory chips, and integrated systems.
                </div>
            </td>
           
           
        </tr>    
    </table>
    <table>
        <tr>
            <h1>Google</h1>
            <td>
              
                <div >
                    <img src="{% static 'image/brand/google.JPG' %}" alt="">
    
                </div> 
            </td>
            <td>
                <div >
                    Google is an American company that is most commonly known as a search engine. Although the company made it's name as a search engine, and the vast majority of its income comes from advertising because of this, it has branched out into a number of areas such as cloud computing, software and hardware.
                </div>
            </td>
           
           
        </tr>    
    </table>
    <table>
        <tr>
            <h1>Lg</h1>
            <td>
                <div class=" md=3">
                    <img src="{% static 'image/brand/LG.JPG' %}" alt="">
    
                </div> 
            </td>
            <td>
                <div >
                    LG Electronics India Pvt. Ltd., a wholly owned subsidiary of LG Electronics, South Korea was established in January 1997 in India. It is one of the most formidable brands in consumer electronics, home appliances, IT hardware and mobile communications space. In India, LG has earned a premium brand positioning and is the acknowledged trendsetter for the industry. 
                    
                </div>
            </td>
           
           
        </tr>    
    </table>
    <table>
        <tr>
            <h1>Sony</h1>
            <td>
                <div class=" md=3">
                    <img src="{% static 'image/brand/sony.JPG' %}" alt="">
    
                </div> 
            </td>
            <td>
                <div >
                    Sony, in full Sony Corporation, major Japanese manufacturer of consumer electronics products. It also was involved in films, music, and financial services, among other ventures.                    
                </div>
            </td>
           
           
        </tr>    
    </table>
   
    
    
{% endblock %}