{% extends 'index.html' %}
{% load static %}

{% block content %}
    <h1>
       Know About Camera
    </h1>
    <p>
        This probably the first thing that comes to our mind when we talk about a smartphone camera. Megapixel stands for millions of pixels and an image is made up of tiny units called pixels (1MP means one million pixels). Higher megapixel count in a camera will result in richer and bigger image.

    Basically, megapixel can also be termed as the resolution of the image (picture size). While higher megapixel means bigger resolution- which is the indication towards better image quality which is not always true, as pixel quality matters more than the number of pixels.
    </p>
    <img src="{% static 'image/camera.JPG' %}" alt="">
    
    
{% endblock %}