{% extends 'index.html' %}
{% load static %}

{% block content %}
    <h1>Processor</h1>
    <h2>What's a smartphone processor?</h2>
    <p>Your smartphone processor, also known as chipset, is a component that controls everything going on in your smartphone and ensures it functions correctly. You can compare it to the brain of the human body. Every action you perform on your smartphone goes straight to the processor. These actions are then converted to visual changes on your screen, and all of this happens in a split second. Pretty neat, right?</p>
    <h2>How does a smartphone processor work?</h2>
    <p>You're opening a few pictures in an app, for example. This action is registered by the processor and stored in the memory of your device. That's the fetch phase. The action is then translated to ones and zeros in the decode phase. The instructions are now saved in a language your smartphone understands. It's ready for the execute phase. The processor transmits the ones and zeros, and you can see it all happen on the screen. Your pictures are opened. Finally, the executed instructions are saved in the register memory during the save phase. Afterwards, the process will restart.</p>
    <h2>What determines the processor speed?</h2>
    <p>The speed at which a processor processes a certain action depends on a number of factors, like the number of processor cores. The clock speed is another important aspect. Processors with low clock speeds and (sometimes) a smaller number of processor cores work more slowly than processors with high clock speeds and a large number of processor cores. Makes sense, as that's what you're paying for, in the end. Actions performed on a cheaper smartphone will be processed more slowly than on a more expensive model.

    </p>
    <h1>find some best Processor</h1>
    <h3>Apple A14 Bionic</h3>
    <p>Apple A14 Bionic – an 6-core chipset that was announced on September 15, 2020, and is manufactured using a 5-nanometer process technology. It has 2 cores Firestorm at 3100 MHz and 4 cores Icestorm at 1800 MHz.</p>
    <h3>Snapdragon 888</h3>
    <p>The Qualcomm® Snapdragon® 888 5G Mobile Platform packs industry-leading innovations in 5G, AI, gaming, photography, and the many more premium experiences you deserve. Featuring our completely rearchitected 6th gen Qualcomm® Artificial Intelligence (AI) Engine, the Snapdragon 888 5G delivers a total of 26 TOPS performance, 3 times performance-per-watt improvement and 16 times larger shared AI memory.

        Connectivity leaps forward with truly global 5G and industry-leading Wi-Fi 6. Both the Snapdragon X60 5G Modem-RF and the Qualcomm® Fast..</p>
{% endblock %}